@use '../../styles/variables' as v;

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: v.$slate-900;
  padding: v.$p-400 v.$p-300;

  img {
    width: 192px;
    height: 192px;
  }

  .results__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: v.$white;
  }

  p {
    text-align: center;
    color: v.$slate-300;
  }
}