@use '../../styles/variables.scss' as v;

.main__content {
  padding: v.$p-400 v.$p-300;
}

.clear__form {
  border: none;
  outline: none;
  background: inherit;
  font-family: inherit;
  color: v.$slate-700;
  text-decoration: underline;
  font-size: 1rem;
  margin: 8px 0 1.5rem 0;
  cursor: pointer;

  &:focus {
    outline: v.$slate-900 auto 1px;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: v.$slate-100;
    padding: v.$p-500;
  }
  .main {
    max-width: 688px;
    margin: 0 auto;
  }
  .main__content {
    background-color: v.$white;
    padding: v.$p-500;
    border-radius: 1.5rem 1.5rem 0 0;
  }
  .title__section {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: v.$white;
    min-width: 1008px;
    border-radius:  1.5rem;
  }
  .main__content{
    border-radius: 1.5rem ;
  }
}