@use '../../styles/variables.scss' as v;

.main__content {
  padding: v.$p-400 v.$p-300;
}

.clear__form {
  border: none;
  outline: none;
  background: inherit;
  font-family: inherit;
  color: v.$slate-700;
  text-decoration: underline;
  font-size: 1rem;
  margin: 8px 0 1.5rem 0;
  cursor: pointer;

  &:focus {
    outline: v.$slate-900 auto 1px;
    padding: 2px;
  }
}