@use "../../styles/variables.scss" as v;

.results-content {
  width: 100%;
  max-width: 800px;
  
  h3 {
    color: v.$white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .description {
    color: v.$slate-300;
    text-align: left;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  
  .results-box {
    background-color: rgba(#000000, 0.25);
    padding: 1.5rem 1rem;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    
    &::before {
      content: "";
      position: absolute;
      height: 6px;
      width: 100%;
      left: 0;
      top: 0;
      background-color: v.$lime;
    }
    
    h4 {
      color: v.$slate-300;
      margin-bottom: 8px;
      font-weight: 400;
    }
    
    .amount {
      font-weight: bold;
      font-size: 2.5rem;
      text-align: left;
      
      &.primary {
        color: v.$lime;
      }
      
      &.secondary {
        color: v.$white;
      }
    }
    
    hr {
      margin: 1rem 0;
      border: 1px solid rgba(v.$slate-300, 0.25);
    }
  }
}

@media screen and (min-width: 768px) {
  .results-content .results-box {
      .amount.primary {
        font-size: 3.5rem;
      }
      
      .amount.secondary {
        font-size: 1.5rem;
      }
      
      hr {
        margin-block: 2rem;
      }
    }
  }

@media screen and (min-width: 1024px) {
  .results-content {
    .description {
      margin-bottom: v.$p-500;
    }
  }
}